<div class="flex flex-col flex-auto min-w-0">
  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
  <!-- CONTENT GOES HERE -->
  <div class="h-400 min-h-400 max-h-400 border-2  border-gray-300 rounded-2xl">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent rounded-2xl">
      <!-- Title -->
      <div>
          <div class="text-4xl font-extrabold tracking-tight leading-none">File Manager</div>
          
      </div>
      <!-- Actions -->
      <div class="mt-4 sm:mt-0">
          <!-- Upload button -->
          <button mat-flat-button [color]="'bg-primary'" (click)="fileInput.click()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">Upload file</span>
          </button>
          <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
      </div>
    </div>
    <br>


       <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
         <div class="flex flex-col sm:flex-row items-start justify-between">
             <div class="text-lg font-medium tracking-tight leading-6 truncate">Content file</div>
             
         </div>
         <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
             <!-- New vs. Closed -->
             <div class="flex flex-col flex-auto">
                 <div class="font-medium text-secondary">File </div>
                 <div class="flex flex-col flex-auto">
                  <br>
                
                  <pre><strong>{{ fileContent }}</strong></pre>

                 </div>
             </div>
             <!-- Overview -->
             <div class="flex flex-col">
                 <div class="font-medium text-secondary">Elements</div>
                 <mat-form-field>
                  <mat-label>Favorite elements</mat-label>
                  <mat-chip-grid #chipGrid aria-label="Enter elements" >
                    @for (element of elements(); track element) {
                      <mat-chip-row 
                        (click)="selectElement(element)"
                        (removed)="remove(element)"
                        [editable]="true"
                        (edited)="edit(element, $event)"
                        [aria-description]="'press enter to edit ' + element.name">
                        {{element.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + element.name">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                    }
                    <input
                      placeholder="New element..."
                      [matChipInputFor]="chipGrid"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)"
                      matInput
                    />
                  </mat-chip-grid>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                  <textarea 
                    matInput 
                    class="custom-textarea" 
                    placeholder="Enter text..." 
                    [value]="selectedElementText()"
                    (input)="onTextareaInput($event)"
                    (keydown)="handleKeydown($event)"
                  ></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="submitFile()">Submit</button>
             </div>
         </div>
      </div>
      
      
     </div>
  </div>
</div>
