<div class="flex flex-col flex-auto min-w-0">
  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
  <!-- CONTENT GOES HERE -->
  <div class="h-400 min-h-400 max-h-400 border-2  border-gray-300 rounded-2xl">
     <!-- datta traffic-->
     <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
           <div class="text-lg font-medium tracking-tight leading-6 truncate">Data Traffic</div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
           <div>
              <h2>The Input</h2>
              <pre>{{ originalMessage }}</pre>
           </div>
           <div>
              <h2>The Output</h2>
              <pre>{{ transformedMessage }}</pre>
           </div>
        </div>
     </div>
    <br>

     <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
      <div class="flex flex-col sm:flex-row items-start justify-between">
         <div class="text-lg font-medium tracking-tight leading-6 truncate">Data Traffic</div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
         <div>
            <h2>The Input</h2>
            <pre>{{ originalMessage }}</pre>
         </div>
         <div>
            <h2>The Output</h2>
            <pre>{{ transformedMessage }}</pre>
         </div>
      </div>
   </div>
  </div>
</div>